/* Requisito 2.2 */
.color:nth-of-type(1) {
  background-color: black;
}
.color:nth-of-type(2) {
  background-color: red;
}
.color:nth-of-type(3) {
  background-color: yellow;
}
.color:nth-of-type(4) {
  background-color: blue;
}

/* Requisito 2.3-4 */
.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
